<div *ngIf="floorMaps && floorMaps.length > 0" class="floor-map-container">
  <div class="floor-map-list">
    <h2>Floor Maps</h2>
    <mat-list>
      <mat-list-item *ngFor="let floorMap of floorMaps">
        <button mat-button (click)="selectFloorMap(floorMap.id)">
          {{ floorMap.name }}
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div
    *ngIf="selectedFloorMapId"
    class="floor-map-image"
    style="position: relative"
  >
    <img
      [src]="getFloorMapImage(selectedFloorMapId)"
      alt="Floor Map"
      *ngIf="getFloorMapImage(selectedFloorMapId)"
    />

    <div
      *ngFor="let asset of assets; trackBy: trackByAssetId"
      class="asset-marker"
      [ngStyle]="{ top: asset.y + 'px', left: asset.x + 'px' }"
      matTooltip="{{ asset.name }} (X: {{ asset.x }}, Y: {{ asset.y }})"
      matTooltipPosition="above"
    >
      <mat-icon class="asset-icon">location_on</mat-icon>
    </div>
  </div>
</div>
