/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.success-snackbar {
    background-color: #4caf50; /* Green */
    color: #fff;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red */
    color: #fff;
  }