# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istros/

# User-specific files
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
Thumbs.db
Desktop.ini
