# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istros/
bin/
obj/

# User-specific files
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.sln.docstates

# ASP.NET Core
appsettings.Development.json
appsettings.*.json

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# User-specific files on Linux
*.swp

# Windows Installer files
Thumbs.db
Desktop.ini
